USE [BD_15_27_2025]
GO
/****** Object:  UserDefinedFunction [dbo].[CountOrdenesPorEmpleado]    Script Date: 23/09/2025 2:56:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[CountOrdenesPorEmpleado](@IdEmpleado INT)
RETURNS INT
AS
BEGIN
	DECLARE @Count INT -- declaro variable para contar como int
	SELECT @Count = COUNT(*) -- aqui asigno la variable que cree anteriormente
	FROM OrdenVenta AS ov INNER JOIN Empleado AS e ON ov.Id_Empleado = e.Id
	WHERE e.Id = @IdEmpleado;
	RETURN  ISNULL (@Count, 0);
	-- si es nulo, regrese 0
END